#!/usr/bin/env bash

{{ with secret "aws/creds/default" -}}
export AWS_ACCESS_KEY_ID="{{ .Data.access_key }}"
export AWS_SECRET_ACCESS_KEY="{{ .Data.secret_key }}"
{{ if .Data.session_token -}}
export AWS_SESSION_TOKEN="{{ .Data.session_token }}"
{{ end -}}
{{ end -}}
